<nav class="navbar navbar-dark bg-primary mb-3">
    <a class="navbar-brand" href="#">Add Transaction</a>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/transactions">Cancel</a>
        </li>
    </ul>
</nav>
<div class="card border-0 rounded-0 mt-2">
    <div class="card-body">
        <form [formGroup]="transactionForm" (ngSubmit)="saveTransaction()">
            <div class="row">
                <div class="col-6 mb-3">
                    <button type="button" class="btn btn-outline-primary btn-block"
                        (click)="transactionType = 'expense'">Expense</button>
                </div>
                <div class="col-6 mb-3">
                    <button type="button" class="btn btn-outline-primary btn-block"
                        (click)="transactionType = 'income'">Income</button>
                </div>
            </div>
            <div class="form-group">
                <label>Amount</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input type="text" name="amount" value="0" class="form-control" formControlName="amount">
                </div>
            </div>
            <div class="form-group">
                <label>Category</label>
                <select class="form-control" name="accountType" formControlName="category">
                    <option value="">Select Category</option>
                    <ng-container *ngFor="let category of categories">
                        <option [value]="category._id" *ngIf="transactionType == category.type">{{category.name}}
                        </option>
                    </ng-container>
                </select>
            </div>
            <div class="form-group">
                <label for="cdate">Active End Date</label>
                <app-date-time-picker formControlName="cdate" name="cdate"></app-date-time-picker>
                <!-- <div class="text-danger" *ngIf="formGroup.get('date').errors?.required">Active End Date is
                    required.</div>
                <div class="text-danger"
                    *ngIf="formGroup.get('date')?.value && formGroup.get('date')?.errors?.isValid">
                    Active End Date must be a valid date.</div> -->

            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea name="description" class="form-control" formControlName="description"></textarea>
            </div>
            <div class="form-group">
                <label>Account</label>
                <select class="form-control" name="account" formControlName="account">
                    <option value="">Select Account</option>
                    <option *ngFor="let account of accounts" [value]="account._id">{{account.name}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="transactionForm.invalid">Save</button>
        </form>
    </div>
</div>