<div class="user">
    <div class="user-icon">
        <span class="material-icons">
            account_circle
        </span>
    </div>
    <h1 class="display-4">Gururaj</h1>
    <p class="lead">raj.guru827@gmail.com</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="card">
    <h5 class="card-header">Category</h5>
    <div class="card-body">
        <div class="media">
            <span class="material-icons mr-3">
                format_list_bulleted
            </span>
            <div class="media-body">
                <a routerLink="/categories"><h5 class="mt-0">Categories</h5></a>
            </div>
        </div>
    </div>
</div>