<nav class="navbar navbar-dark bg-primary navbar-expand fixed-bottom">
    <ul class="navbar-nav w-100 justify-content-around align-items-center">
        <li class="nav-item">
            <a class="nav-link text-center" routerLink="/">
                <img src="../../assets/icons/navbar/home_white_18dp.png">
                <br>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-center" routerLink="/accounts">
                <img src="../../assets/icons/navbar/account_balance_wallet_white_18dp.png">
                <br>
                Account
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/transactions/add">
                <img src="../../assets/icons/navbar/add_circle_white_18dp.png">
            </a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link" href="#">
                <img src="../../assets/icons/navbar/bar_chart_white_18dp.png">
                <br>
                Reports
            </a>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link" href="#">
                <img src="../../assets/icons/navbar/more_horiz_white_18dp.png">
                <br>
                More
            </a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>